.toDoListInput {
    border: none;
}

.list-item-counter {
    color: gray;
    font-size: small;
}

.list-bottom-deco-1{
    width: 98%;
    height: 10px;
}

.list-bottom-deco-2{
    width: 96%;
    height: 10px;
}